$pomegrate: #c0392b;
$turquoise: #1abc9c;
$emerald: #2ecc71;
$belize-hole: #2980b9;
$pumpkin: #d35400;
$midnight-blue: #2c3e50;
$blue: #506ee4;
$color-dark: #595d6e;

$body-bg: #efeff5;
$body-color: #111;

$theme-colors: (
  "primary": $midnight-blue,
);

$font-family-sans-serif: 'Raleway', sans-serif;
$enable-shadows: true;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
