body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content {
  background-color: white;
  border-style: solid;
  border-color: #252525;
  border-width: 20px 20px 20px 0;
  overflow-y: auto;
}

.page-link {
  outline: 0;
  background-color: #252525;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: white;
  padding: 10px 40px 10px 40px;
  text-align: center;
}

.page-link:hover {
  background-color: #252525;
  color: white;
  text-decoration: underline;
}

.page-link:active {
  outline: 0 !important;
  color: white;
  text-decoration: underline;
}

.page-link:focus {
  outline: 0 !important;
  color: darkgray;
  text-decoration: underline;
}
